





/* ===================================================================
 * # Navbar
 * ------------------------------------------------------------------- */

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }
.logo-img{
  height: 50px;  

  width: 50px;}
.hero {
  height: 100vh;
  width: 100%;
  background: #5d5b6a; }
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%; }
  .site-navbar .site-logo {
    position: relative;
    left: 0;
    font-size: 24px; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active {
      color: #30D5C7;
      display: inline-block;
      padding: 20px 20px; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 20px 20px;
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #30D5C7; }
      .site-navbar .site-navigation .site-menu > li.social > a {
        padding-left: 5px;
        padding-right: 5px; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative;}
      .site-navbar .site-navigation .site-menu .has-children .parent-a{
      cursor: default; }
      .site-navbar .site-navigation .site-menu .has-children .parent-a:hover {
        color: #fff!important; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #30D5C7;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #407C87;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #30D5C7;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #fff; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active {
          color: #30D5C7 !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 210px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #407C87;
              color: #30D5C7; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #30D5C7; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #407C87;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #30D5C7; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li .active {
        color: #30D5C7; }
    .site-mobile-menu .site-nav-wrap .social {
      display: inline-block; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #407C87; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li.social {
        float: none !important;
        width: auto !important; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .sticky-wrapper .site-navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .sticky-wrapper .site-navbar .site-menu-toggle {
      color: #fff; }
    .sticky-wrapper .site-navbar .site-logo a {
      color: #fff; }
    .sticky-wrapper .site-navbar .site-menu > li > a {
      color: #fff;}
      .sticky-wrapper .site-navbar .site-menu > li > a:hover, .sticky-wrapper .site-navbar .site-menu > li > a.active {
        color: #30D5C7 !important; }
  .sticky-wrapper.is-sticky .site-navbar {
    background: #407C87;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1); }
    .sticky-wrapper.is-sticky .site-navbar .site-menu-toggle {
      color: #fff; }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #30D5C7; }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
      color: #fff !important; }
      .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
        color: #30D5C7 !important; }





/* ===================================================================
 * # Video
 * ------------------------------------------------------------------- */
.video-background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; /* or other dimensions */
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF; /* or any other color */
    text-align: center;
}


.main-btn {
    background-color: #30D5C7;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.main-btn:hover {
    background-color: #28bfa9;  /* A slightly darker shade for hover effect */
}

/* ===================================================================
 * # Services
 * ------------------------------------------------------------------- */


#services .card {
    transition: box-shadow 0.3s, transform 0.3s; /* Smooth transition for shadow and transform */
    padding: 10px; /* Adds padding around the card */
}


@media (max-width: 767px) {
    #services .card {
      width: auto;
  }
}


#services .card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Adjusted shadow for a softer, more distant look */
    transform: translateY(-5px); /* Slightly lifts the card */
}


.carousel-center-img {
    width: 60%; 
    border-radius: 15px; 
    transition: transform 0.5s, width 0.5s;
}

.carousel-side-img {
    width: 30%; 
    border-radius: 15px; 
    align-self: center;
    transition: transform 0.5s, width 0.5s;
}

/* Optional: Add some space between images */
.d-flex > img + img {
    margin-left: 10px;
}

#services{
  color: #000;
}
/* ===================================================================
 * # Why Us
 * ------------------------------------------------------------------- */
.why-us{
  background-image: url("../assets/background_blur.png");
}

.counter-box {
    height: 100px;
    width: 400px;
    background-color: #407C87;
    color: #fff;
    border-radius: 15px;
    display: flex;           /* Enables Flexbox */
    align-items: center;     /* Centers vertically */
    justify-content: center; /* Centers horizontally */
}

.p-why-us{
  font-weight: 500;
  font-size: x-large;
}

.box-why-us{
  background: #D3E1E2;
  border-radius: 20px;
}

.cv-button{
    color: #000 ;
    display: block;
    width: 180px;
    height: 60px;
    line-height: 9px;
    font-size: 20px;
    background: #30D5C7 ;
    border: none;
    letter-spacing: 1px;
    border-radius: 12px;
    transition: all 1s;
}
.cv-button:hover{
  background-color: #407C87;
  color: #fff;
}
/* ===================================================================
 * # History
 * ------------------------------------------------------------------- */
.p-history{
  font-weight: 500;
  font-size: large;
}

.box-history{
  background: #D3E1E2;
  border-radius: 20px;
}
/*--------------------------------------------------------------
----------------------------------------------------------------
# Contact Page
----------------------------------------------------------------
--------------------------------------------------------------*/

.container-sm {
  padding-top: 7rem;
}
#section-contact {
  background-image: url("../assets/background_blur.png");
}


.box-contact{
  background: #D3E1E2;
  border-radius: 20px;
  padding: 4rem 8rem;
}
#section-contact form input,
#section-contact form textarea {
  border-radius: 10px;
  background-color: #EEF1F6;
}

#section-contact form button {
    background-color: #407C87;
    color: white;
    border: none;
    font-size: 26px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
#section-contact form button:hover{
    background-color: #28bfa9;
    color: white;
}

/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/
#faq a{
    text-decoration:revert;
    color: #3d4347;
}
#faq a:hover{
    color: black;
}
#faq .col-6 .card{
  padding: 0;
}
#faq .card{
  margin-top: 30px ;
}

#faq button:focus,
#faq button:active,
#faq button:hover{
    border: 1px solid transparent;
} 

#faq .landing-page h2{
    padding: 6rem 0 2rem;
    font-size: var(--font-size-h2);
}

#faq  h2{
    padding: 8rem 0 0;
    font-size: var(--font-size-h2);
}

#faq button{
    text-align: start;
    font-size: var(--font-size-h4);
    color: #767676;
    border-color:transparent ;
}

#faq .landing-page p{
    margin:0 ;
}

#faq h3{
    margin:0 0 2rem ;
    font-size: var(--font-size-h4);
}

#faq .card-body{
    font-size: var(--font-size-body);
}

#faq .landing-page .card:nth-of-type(4){
    margin-bottom: 4rem;
}

#faq hr{
    margin: 0;
    border: 0;
    border-top: 2px solid #28bfa9;
}

#faq .faq-questions{
  text-decoration: none;
}

#faq .text-primary-dentist{
  color: #28bfa9 ;
}
/* ===================================================================
 * # Carousel
 * ------------------------------------------------------------------- */
.about-us-service-title {
  text-align: center;
}

.carousel-container {
  padding: 20px;
  display: flex;
  text-align: left;
  position: relative;
  height: 450px;
  max-width: 1498px;
  min-width: 300px;
  margin: 0 auto;
}

.carousel-card {
  height: 320px;
  width: 315px;
  padding: 50px 30px 0;
  transition: 1s;
  opacity: 1;
  position: absolute;
  top: 0;
  background-color: #30D5C7;
  color: #FFF;
  cursor: pointer;
  box-shadow: 1px 2px 3px grey;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}


.carousel-icon {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

#far-left {
  left: 15%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 5;
  background-color: #F0F0F0;
}

#left {
  left: 30%;
  transform: scale(1) translateY(0%) translateX(-50%);
  z-index: 10;
  background-color: #D3E1E2;
}

#center {
  left: 50%;
  transform: scale(1.05) translateY(0%) translateX(-50%);
  z-index: 15;
}

#right {
  left: 70%;
  transform: scale(1) translateY(0%) translateX(-50%);
  z-index: 10;
  background-color: #D3E1E2;
}

#far-right {
  left: 80%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 5;
  background-color: #F0F0F0;
}


.carousel-text {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;  /* Add some spacing before the line */
}

.reviewer-name {
    font-size: 14px;
    color: #333;
    font-style: italic;
    display: block;  /* Make the span display as a block element for better layout */
    margin-top: 10px;  /* Add some spacing after the line */
}

.separator {
    border: 1px solid #333;
    margin: 10px 0;  /* Add some vertical spacing around the line */
}

@media (max-width: 767px) {
    #far-left {
        
      transform: scale(.9) translateY(0%) translateX(0%);
    } 
    
    #far-right {
      left: 80%;
      transform: scale(.9) translateY(0%) translateX(-80%);
    }
    .carousel-card {
      height: 250px;
      width: 220px;
      padding: 40px 30px 0;
    }
    .carousel-text {
      font-size: 12px;
    }
}
/* ===================================================================
 * # Footer
 * ------------------------------------------------------------------- */
.footer-icon-route{
    width: 65px;
    height: auto;
}

.footer-02 .footer-icon{
    width: 40px;
    height: auto;
}

.after-footer {
    background-color: #D3E1E2 ;
}
.contact-footer{
  border-left: 2px solid white;
}
.social-footer{
  border-left: 0px solid white;
}
.footer-02 .book-button{
    color: #fff !important;
    width: 220px;
    height: 56px;
    line-height: 40px;
    font-size: 22px;
    background: #30D5C7 !important;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 40px; 
}
.footer-02 .book-button:hover{
    color: #fff !important;
    background: #28bfa9 !important;
    transition: all 1s;
}
#book-button-nav{
    color: #fff !important;
    display: block;
    width: 183px;
    height: 47px;
    line-height: 9px;
    font-size: 17px;
    background: #30D5C7 ;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 12px;
}
#book-button-nav:hover{
  background-color: #28bfa9;
  color: #000;
}

@media (max-width: 1200px) {
    .row.main-footer .logo {
      
    font-size: 36px;
    } 
}

@media (max-width: 991px) {
    .social-footer{
      border-left: 2px solid white;
    }
}

@media (max-width: 767px) {
    .row.main-footer {
        display: flex;
        justify-content: center;
    } 
    .contact-footer{
      border-left: 0px solid white;
    }
    .social-footer{
      border-left: 0px solid white;
    }
}
